.header{
    color: red;
    position: fixed;     /* it is used when the element should be fixed while scrolling */
    left: 20px;
    top: 10px;
}


.first{
    width: 270px;
    margin: 50px auto;
    border-radius: 14px;
    border: 1px solid lightgray;
    padding: 20px;
}

.first-img{
    width: 100%;
    border-radius: 14px;
}

.btn{
    position: fixed;
    right: 30px;
    bottom: 30px;
    
}

.btn-btn{
    color: white;
    background-color: black;
    border-radius: 20px;
    border: none;
   padding: 10px;
}

.second{
    margin: 50px auto;
    width: 270px;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: orangered;
    color: white;
    border-radius: 14px;
    position: sticky;  /* this will stick to given position while scrolling */
    top: 0;
}

.parent{
    border:  1px solid lightgray;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 100px;
    margin-left: 50px;
    /* position: absolute; */

}
.child{
    border:  1px solid lightgray;
    width: 30px;
    height: 30px;
    background-color:black;
    /* margin-top: 20px; */
    margin-left: 50px;
    position: absolute;  /* creates an empty space and next elemnet comes to its position and current element sits above the next element*/

}

.grandchild{
    border:  1px solid lightgray;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 50px;
    /* position: absolute; */

}