.bg{
    color: black;
    text-align: center;
}

.bg-box{
    width: 400px;
    margin: 40px auto;
    /* border: 1px solid lightgray; */
    padding: 40px;
}
.bg-box-btn{
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: lightpink;
    border: none;
    font-size: 16px;

}

.bg-box-input{
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;  /* when we dont want to go content outside after applying padding */
    border-radius: 10px;
    border: 1px solid lightgray;

}

.bg-box-img{
    width: 100%;
}