.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent{
    width: 300px;

    
}
.img{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.flex-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.btn{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 12px;
    border: none;

}

.profile{
    width: 600px;
    margin: 50px auto;
    display: flex;
    gap: 20px;

}
.profile-img{
    width: 250px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;

}
.profile-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 12px;
}
.profile-img:hover{
    border-radius: 50%;
    transition: 2s;
    width: 280px;
    height: 230px;
}

.profile-btn:hover{
    background-color: green;
    color: white;
    transition: 1s;
}

.bookmark{
    display: flex;
    align-items: center;
    justify-content: space-between;
}