.parent-box{
    width: 700px;
    margin: 50px auto;
    position: relative;
}

.img{
    width: 100%;
   
}

.word{
    position: absolute;
    bottom: 280px;
    left: 10px;
}
.btn{
    padding: 8px;
    border-radius: 12px;
    background-color: white;
    color: black;
    width: 80px;
}